$bg-color: rgb(241, 239, 239);
$border-color: rgb(204, 201, 201);
$bgc-bt-green: rgb(9, 156, 41);
$bgc-bt-green-hover: rgb(8, 128, 34);
$dark-red: rgb(202, 11, 11);
$dark-red-hover:  rgb(179, 9, 9);
$border-color-focus: rgb(120, 173, 243);
$bsh-focus:0 0 3px 3px rgb(152, 201, 247);
$save-btn-blue: rgb(52, 142, 216);
$save-btn-blue-focus: rgb(57, 136, 201);
$add-btn-yellow: rgb(235, 193, 10);
$add-btn-yellow-hover: rgb(206, 169, 6);
$bsh-yellow:0 0 3px 3px rgba(245, 248, 67, 0.918);
$bsh-red:0 0 3px 3px rgba(241, 65, 65, 0.733);
