<div class="home">
   <div class="pages">
      <div class="img">
      </div>
      <div class="title">Angular list of prohibited words</div>
      <div class="button">
         <app-button-details [routerLink]="[ '/works/cenzor' ]" ></app-button-details>
      </div> 
   </div>
   <div class="pages">
      <div class="img"></div>
      <div class="title">Angular task list</div>
      <div class="button">
         <app-button-details [routerLink]="[ '/works/taskList' ]" ></app-button-details>
      </div>
   </div>
   <div class="pages">
      <div class="img"></div>
      <div class="title">Angular user list</div>
      <div class="button">
         <app-button-details [routerLink]="[ '/works/userList' ]"></app-button-details>
      </div>
   </div>
</div>

